<h1> Review the Tutor </h1>

Select the session you are reviewing:



<ul>
    <% @reviews.each do |review| %>
        <li><%= link_to review.student_tutor_id, review_path(review) %></li>
    <% end %>
</ul>


